---
import { render, type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'jobs'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

function formatDate(date: string) {
  if (!date) return 'Now';
  return new Date(date).toLocaleDateString('en-EN', {
    month: 'long', // "january"
    year: 'date', // "2021-01-01"
  });
}

function getDuration(from: string, to: string) {
  if (!from) return '';
  const start = new Date(from);
  const end = to ? new Date(to) : new Date();

  const months =
    (end.getFullYear() - start.getFullYear()) * 12 +
    (end.getMonth() - start.getMonth());

  const years = Math.floor(months / 12);
  const remainingMonths = months % 12;

  let parts: string[] = [];
  if (years > 0) parts.push(`${years} year${years > 1 ? 's' : ''}`);
  if (remainingMonths > 0) parts.push(`${remainingMonths} month${remainingMonths > 1 ? 'en' : ''}`);

  return parts.join(' y ');
}

<li class="py-0.5">
  <div class="flex gap-5">
    <div class="relative min-w-28 shrink-0">
      <span class="text-muted-foreground text-sm">
        {formatDate(entry.data.from)} - {formatDate(entry.data.to)} 
        ({getDuration(entry.data.from, entry.data.to)})
      </span>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col">
        <span class="text-headings font-medium">{entry.data.title}</span>
        <span class="text-foreground text-sm">{entry.data.company}</span>
      </div>
      <div class="prose dark:prose-invert prose-sm">
        <Content />
      </div>
    </div>
  </div>
</li>